
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





   



<section class="text-center awards-b sectionMargin1 bottomMargin ">
            <h2 class="latinModern ">About Me</h2>
            <span class="vertical-line "></span>
            <div class="item letterSpacingMID ">
                <span class="date ">For the last four years I have spent time learning things 
                    and then using the knowledge to build applications.
                     I love writing code, and I especially enjoy writing code for the backend of software applications. 
                     I started my programming journey writing python and frameworks like Flask, Django then moved on to Javascript(Node.js). 
                     Lately, I have been learning React with the aim of becoming a fullstack developer and develop better user focused programs.</span>
                     
                     

                    <br>Currently, Guest Service pays my bills but I am hoping to go into software development full time soon.</span>
                
            </div>
 </section>























