
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





   



<section class="awards-b sectionMargin1 bottomMargin ">
            <h2 class="latinModern ">About Me</h2>
            <span class="vertical-line "></span>
            <div class="item letterSpacingMID ">
                <span class="date ">For the last one year I have spent time learning things I never knew existed and then using the knowledge to build applications I never imagined I could. I love writing code, and I especially love writing code for the backend of software applications. I started my programming journey writing PHP and then moved on to Javascript(Node.js). Lately, I have found my self itching to learn to write code for the frontend and then become a fullstack developer.

                    I come from a background in communications, and that makes me a software developer who can effectively collaborate and develop better user focused programs. Some of the exciting projects I have worked on include, a blog app that allows users write and manage their posts, an api that sends details of literature in Africa, a personal twitter bot that helps me tweet random daily affirmations every 24 hours, and shopping app for caps and ofcourse this portfolio! One thing about me is I will learn!</span>
                
            </div>
 </section>























