{% load static %}
<section id="reveal-bottom">
    <div class="container-fluid d-lg-flex mb-r" style=" background-color: #fff ">
        <!--Background color-->
        <!--Avatar-->
        <div class="card-body text-center " style="color:rgba(0,0,0,.44); ">
            <div class="reveal-left ">
                <div class="profile-avatr "><img src="{% static 'about/T.jpg' %} " class="rounded-circle " style="margin-top: 4rem; padding: 3px; background-color:#fff ; height: 10rem; ">
                </div>
                <!--Name-->
                <!-- <div class="section-title ">
    <h2><span>School Profile</span></h2>
</div> -->
                <!--Quotation-->
                <i class="fa fa-quo "></i>
                <h1 class="caption-1 rofile-caption flex-item pb-3 text-italic ">{{ bio_desc.description|safe }}</h1>
                <li class="black-g">
                    <a class="cta upperCase letterSpacingBIG hover relative bottomMargin " href="/about-me/ "><span class="target css3Animate "></span><span>READ MORE</span></a></li>
                <!-- <a class="btn-animatd btn btn-outline-gred btn-lg p-3 " href="{% url 'web:blog' %} "><i class="fa fa-book " aria-hidden="true "></i> READ MORE</a> -->
            </div>
        </div>
</section>