<!-- START THE FEATURETTES -->
<div class="row featurette" style="">
    <<div class="container-fluid">
        {% include "about.html" %}
</div>
</div>
<!-- PRE -RESUME -->
<div id="pre-resume">
    {% include "resume.html" %}
</div>
<div class="container-fluid">
    <!-- RESUME -->
    <hr class="featurette-divider">
    <div class="row featurette" style="">
        <div class="col-md-12 order-md-2">
            {% include "cv.html" %}
        </div>
    </div>
    <!-- PORTFOLIO -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12 order-md-2">
            {% include "portfolio.html" %}
        </div>
    </div>
    <!-- BLOG -->
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-12 order-md-2">
            {% include "blog-snippet.html" %}
        </div>
    </div>
    <hr class="featurette-divider">
    <div id="gallery" style="">
        {% include "gallery.html" %}
    </div>
    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->