{%load static%}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<div id="gallery" style="">
    <div class="container-fluid" style="max-height: 3000px">
        <div class="section-title">
            <h2 class="upperCase letterSpacingMID"><span>GALLERY</span></h2>
        </div>
        <div class="container">
            
            <div class="row">
                {% for picture in pictures %}
                <div class="galleryIMG col-6 col-md-3 " style="background-image: url({{picture.picture.url}});"></div>
                {%endfor%}
            </div>
            <!-- <div class="row">
                {% for picture in pictures %}
                <div class="col-lg-2.2" style="background-image: url({{picture.picture_url}});background-color:#EEEEEE; width: 250px; height: 250px;background-size: cover; background-position: center center; border: 5px solid #f8f8f8;
">
                </div>
                {%endfor%}
            </div> -->
        </div>
    </div>