{% load static %}
<!doctype html>
<html lang="en">

<head>
    <title>Hello, world!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/mediumish.css' %}">
</head>

<body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="item view hm-black-light" id="cd-intro-background" style="background-image: url({{cover_img_1.cover.url}}); height: 600px">
                    <!-- <div class="carousel-caption d-none d-md-block"> -->
                    <div class="full-bg-img flex-center text-white rgba-black-strong">
                        <ul class="animated col-md-12">
                            <li>
                                <h1 class="h1-responsive flex-item">{{ caption_item.caption }}</h1></li>
                            <li>
                                <p class="flex-item mb-r">{{ caption_item_1.caption }} . {{ caption_item_2.caption }} . {{ caption_item_3.caption }}</p>
                            </li>
                            <li>
                                <a target="" href="#portfolio" class="btn btn-outline-primary btn-md flex-item p-3" rel="nofollow">EXPLORE MY PORTFOLIO </a>
                            </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="carousel-item">
                <div class="item view hm-black-light" id="cd-intro-background" style="background-image: url({{cover_img_1.cover.url}}); height: 600px">
                    <!-- <div class="carousel-caption d-none d-md-block"> -->
                    <div class="full-bg-img flex-center text-white rgba-black-strong">
                        <ul class="animated col-md-12">
                            <li>
                                <h1 class="h1-responsive flex-item">{{ caption_item.caption }}</h1>
                                <li>
                                    <p class="flex-item mb-r">{{ caption_item_1.caption }} . {{ caption_item_2.caption }} . {{ caption_item_3.caption }}</p>
                                </li>
                                <li>
                                    <a target="" href="#portfolio" class="btn btn-outline-primary btn-md flex-item p-3" rel="nofollow">EXPLORE MY PORTFOLIO </a>
                                </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <div class="carousel-item">
                <div class="item active view hm-black-light" id="cd-intro-background" style="background-image: url({{cover_img_1.cover.url}}); height: 600px">
                    <!-- <div class="carousel-caption d-none d-md-block"> -->
                    <div class="full-bg-img flex-center text-white rgba-black-strong">
                        <ul class="animated col-md-12">
                            <li>
                                <h1 class="h1-responsive flex-item">{{ caption_item.caption }}</h1>
                                <li>
                                    <p class="flex-item mb-r">{{ caption_item_1.caption }} . {{ caption_item_2.caption }} . {{ caption_item_3.caption }}</p>
                                </li>
                                <li>
                                    <a target="" href="#portfolio" class="btn btn-outline-primary btn-md flex-item p-3" rel="nofollow">EXPLORE MY PORTFOLIO </a>
                                </li>
                        </ul>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>