{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>{% block head %}
    <link rel="icon" href="{% static 'brand/favicon.ico' %}">
    <title>{% block title %} Tito Mbugua {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
    <link href="{% static 'css/mediumish.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"> -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/reset.css'%}">
    <!-- CSS reset -->
    <link rel="stylesheet" href="{% static 'css/stylee.css'%}">
    <!-- Resource style -->
    <script src="{% static 'js/modernizr.js' %}"></script>
    <!-- Modernizr -->
    <!-- <script type="text/javascript">
$(window).scroll(function() {
    var scroll = $(window).scrollTop();
    $(".zoom-me img").css({
        width: (100 - scroll / 5) + "%",
        top: -(scroll / 10) + "%",
        //Blur suggestion from @janwagner: https://codepen.io/janwagner/ in comments
        "-webkit-filter": "blur(" - (scroll / 200) + "px)",
        filter: "blur(" - (scroll / 200) + "px)"
    });
});
</script> -->
    {% endblock %}
</head>

<body class="{% block body %} web {% endblock %}" data-spy="scroll" data-target="#navbarSupportedContent" data-offset="100">
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-transparent mediumnavigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <!-- Begin Logo -->
            {% block usertools %}
            <a class="navbar-brand" href="{% url 'web:homepage' %}">
  <img src="{% static '' %}" alt="T">
  </a>
            <!-- End Logo -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <!-- Begin Menu -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="{% url 'web:homepage' %}">Home <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'web:homepage' %}#about" data-toggle="collapse" data-target=".navbar-collapse.show">About <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'web:homepage' %}#resume">Resume <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'web:homepage' %}#portfolio">Portfolio <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'web:blog' %}">Blog <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item "><a class="nav-link" href="{% url 'web:homepage' %}#contact">Contact <span class="sr-only">(current)</span></a></li>
                    <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
                </ul>
                <!-- End Menu -->
                <!-- Begin Search -->
                <!-- End Search -->
            </div>
            {% endblock %}
        </div>
    </nav>
    {% block p_content %}
    <!-- HOME -->
    <div id="home" class="carousel slide carousel-fade" data-ride="carousel">
        <!-- Indicators -->
        <!-- <ol class="carousel-indicators">
          <li data-target="#home" data-slide-to="0" class="active"></li>
          <li data-target="#home" data-slide-to="1"></li>
          <li data-target="#home" data-slide-to="2"></li>
        </ol> -->
        <!-- Wrapper for slides #1 -->
        <div class="carousel-inner pb-5" id="cd-intro" role="listbox">
            <!-- First slide -->
            <div class="cd-intro">
                <div class="carousel-item item active view hm-black-light" id="cd-intro-background" style="background-image: url({{cover_img_1.cover.url}}); height: 600px">
                    <!-- Caption -->
                    <div class="full-bg-img flex-center text-white rgba-black-strong">
                        <ul class="animated col-md-12">
                            <li>
                                <h1 class="h1-responsive flex-item">{{ caption_item.caption }}</h1>
                                <li>
                                    <p class="flex-item mb-r">{{ caption_item_1.caption }} . {{ caption_item_2.caption }} . {{ caption_item_3.caption }}</p>
                                </li>
                                <li>
                                    <a target="" href="#portfolio" class="btn btn-outline-primary btn-md flex-item p-3" rel="nofollow">EXPLORE MY PORTFOLIO </a>
                                </li>
                        </ul>
                    </div>
                </div>
                <!-- /.Caption -->
            </div>
            <!-- /.First slide -->
            <!-- Wrapper for slides #2 -->
            <div class="carousel-item item view hm-black-light" style="background-image: url({{cover_img_1.cover.url}}); height: 600px">
                <!-- Caption -->
                <div class="full-bg-img flex-center text-white rgba-black-strong">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="h1-responsive flex-item">{{ caption_item_2.caption }}</h1>
                            <li>
                                <p class="flex-item mb-r">{{ caption_item_1.caption }} . {{ caption_item_2.caption }} . {{ caption_item_3.caption }}</p>
                            </li>
                            <li>
                                <a target="" href="portfolio" class="btn btn-outline-primary btn-md flex-item p-3" rel="nofollow">EXPLORE MY PORTFOLIO </a>
                            </li>
                    </ul>
                </div>
                <!-- /.Caption -->
            </div>
            <!-- Wrapper for slides #3 -->
            <div class="carousel-item item view hm-black-light" style="background-image: url({{cover_img_1.cover.url}}); height: 600px">
                <!-- Caption -->
                <div class="full-bg-img flex-center text-white rgba-black-strong">
                    <ul class="animated fadeInUp col-md-12">
                        <li>
                            <h1 class="h1-responsive flex-item">{{ caption_item_2.caption }}</h1>
                            <li>
                                <p class="flex-item mb-r">{{ caption_item_1.caption }} . {{ caption_item_2.caption }} . {{ caption_item_3.caption }}</p>
                            </li>
                            <li>
                                <a target="" href="portfolio" class="btn btn-outline-primary btn-md flex-item p-3" rel="nofollow">EXPLORE MY PORTFOLIO </a>
                            </li>
                    </ul>
                </div>
                <!-- /.Caption -->
            </div>
        </div>
    </div>
    <!-- ABOUT -->
    <section class="cd-content">
        <!-- PRE-RESUME -->
        <div id="pre-resume" class="">
            {% include "resume.html" %}
        </div>
        <!-- RESUME -->
        <div id="about p-1" id="">
            {% include "cv.html" %}
        </div>
        <!-- PORTFOLIO -->
        <div id="portfolio p-1">
            <div class="container-fluid">
                {% include "portfolio.html" %}
            </div>
        </div>
        <!-- BLOG -->
        <div id="blog-snippet p-1">
            <div class="container-fluid">
                {% include "blog-snippet.html" %}
            </div>
        </div>
        <div id="gallery" style="">
            {% include "gallery.html" %}
        </div>
    </section>
    <!-- Begin Footer
================================================== -->
    <!-- Begin AlertBar
================================================== -->
    <div class="footer" id="contact" style="position: relative;">
        <div class="container text-center">
            <ul class="links" style="list-style: none; text-decoration-line: none; display: inline;">
                <li class="link"><a href="#" class="fa fa-google-mail"></a></li>
                <li class="link "><a href="#" class="fa fa-twitter"></a></li>
                <li class="link"><a href="#" class="fa fa-instagram"></a></li>
                <li class="link"><a href="#" class="fa fa-github"></a></li>
                <li class="link"><a href="#" class="fa fa-linkedin"></a></li>
            </ul>
            <li style="list-style: none;text-decoration-line: none;"> &copy; 2017 Tito Mbugua - Web Design & Development - All Rights Reserved </li>
        </div>
    </div>
    <!-- End AlertBar
================================================== -->
    {% endblock %}
    <!-- ZOOM EFFECT -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
    <!-- Resource jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript">
    $(function() {
        //caches a jQuery object containing the header element
        var header = $('.navbar');
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 60) {
                header.removeClass('bg-transparent').addClass('bg-white').fadeIn();
            } else {
                header.removeClass('bg-white').addClass('bg-transparent').fadeIn();
            }
        });
    });






    // $('ul.nav li.dropdown').hover(function() { // $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500); // }, function() { // $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500); // });
    </script>
</body>

</html>