{% load static %}
<div class="parallax mb-r" style="background-image: url({{cover_img.cover.url}});">
    <div class="container-fluid full-bg-img flex-center text-center text-white rgba-black-strong" style="height: 400px">
        <div id="reveal-bottom">
            <div class="reveal-left container-fluid">
                <!--Section heading-->
                <p class="flex-item font-bold pt-5 letterSpacingSMALL" style="font-size: 1.5rem;"><strong>Have a App idea?</strong></p>
                <h1 class="flex-item section-heading h1 text-muted p-2 letterSpacingBIG"><strong>HIRE A WEB APP <span class="g-red">DEVELOPER</span> TODAY</strong></h1>
                <li class="black-bg">
                    <a class="cta upperCase letterSpacingBIG hover relative bottomMargin " href="/contact/ "><span class="target css3Animate "></span><span> contact me <i class="fas fa-phone"></i></span></a></li>
                <!-- div class="flex-item pb-2">
<a class="btn-animad btn btn-outline-gred btn-lg p-3" href="{% url 'web:blog' %}"><i class="fa fa-phone left"></i> CONTACT ME </a>
</div> -->
            </div>
        </div>
    </div>
</div>