<!-- {% load static %}
<div class="container-fluid">
<div class="container-fluid bg-3 text-center">
    <div class="row">   
        <div class="col-sm-4">
                <div class="imgBox">
                    <img src="{{ graphic_item.graphic.url }}">
                    <div class="container vertical-center">
                        <div class="content">{{ graphic_item.site_name }}</div>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>
                        
                    </div>
                </div>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <div class="imgBox">
                    <img src="{{ graphic_item_1.graphic.url }}">
                     <div class="container">
                        <div class="content">
                            <h1> {{ graphic_item_1.site_name }}</h1><br>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <div class="imgBox">
                    <img src="{{ graphic_item_2.graphic.url }}">
                     <div class="container">
                        <div class="content">
                            <h1> {{ graphic_item_2.site_name }}</h1><br>
                            <p> <a href="{{graphic_item.site_urls}}" class="btn btn-portfolio"> VISIT SITE</a></p>

                        </div>
                    </div>  
                </div>
            </div>
        </div>
    
    </div>
</div>
 -->
{% load static %}
<section id="reveal-bottom" class="section pb-5">
    <!--Section heading-->
    <div class="portfolio-h section-title">
        <h2 class="upperCase letterSpacingMID "> <span>My Projects</span></h2>
    </div>

    <div class="reveal-left container-fluid">
        
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="graphic-1 col-md-4 p-0">
                <div class="cover-img" style="background-image: url({{graphic_item.graphic.url}}); background-size: cover;background-position: center center;">
                    <div class="cardd-image container-fluid flex-center text-center text-white rgba-black-strongg" style="">
                        <div class="">
                            <div class="container-fluid">
                                <!--Section heading-->
                                <h3 class="flex-item font-bold letterSpacingBIG pb-3" style="font-size: 1rem;"><strong><i class="{{graphic_item.category_icon}}"></i> {{graphic_item.graphic_category}}</strong></h3>
                                <h3 class="flex-item upperCase letterSpacingBIG text-muted"><strong>{{graphic_item.site_name}}</strong></h3>
                                <div class="flex-itemm">
                                    <li class="black-bg p-0">
                                        <a class="cta upperCase letterSpacingBIG hover relative bottomMarginn " href="{{graphic_item.site_url}}"><span class="target css3Animate "></span><span><i class=""></i> view site</span></a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="graphic-2 col-sm-4 p-0">
                <div class="cover-img" style="background-image: url({{graphic_item_1.graphic.url}});
;">
                    <div class="cardd-image container-fluid flex-center text-center text-white rgba-black-strongg" style="">
                        <div class="">
                            <div class="container-fluid">
                                <!--Section heading-->
                                <h3 class="flex-item font-bold letterSpacingBIG pb-3" style="font-size: 1rem;"><strong><i class="{{graphic_item_1.category_icon}}"></i> {{graphic_item_1.graphic_category}}</strong></h3>
                                <h3 class="flex-item upperCase letterSpacingBIG text-muted"><strong>{{graphic_item_1.site_name}}</strong></h3>
                                <div class="flex-itemm">
                                    <li class="black-bg p-0">
                                        <a class="cta upperCase letterSpacingBIG hover relative bottomMarginn " href="{{graphic_item_1.site_url}}"><span class="target css3Animate "></span><span><i class=""></i> view site</span></a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="graphic-3 col-sm-4 p-0">
                <div class="cover-img" style="background-image: url({{graphic_item_2.graphic.url}});
;">
                    <div class="cardd-image container-fluid flex-center text-center text-white rgba-black-strongg" style="">
                        <div class="">
                            <div class="container-fluid">
                                <!--Section heading-->
                                <h3 class="flex-item font-bold letterSpacingBIG pb-3" style="font-size: 1rem;"><strong><i class="{{graphic_item_2.category_icon}}"></i> {{graphic_item_2.graphic_category}}</strong></h3>
                                <h3 class="flex-item upperCase letterSpacingBIG text-muted"><strong>{{graphic_item_2.site_name}}</strong></h3>
                                <div class="flex-itemm">
                                    <li class="black-bg p-0">
                                        <a class="cta upperCase letterSpacingBIG hover relative bottomMarginn " href="{{graphic_item_2.site_url}}"><span class="target css3Animate "></span><span><i class=""></i> view site</span></a></li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</section>

<div class="d-flex justify-content-center mb-r">
    <li class="white-bg">
        <a class="cta upperCase letterSpacingBIG hover relative bottomMargin " href="/blog/ "><span class="target css3Animate "></span><span> view more projects <i class="fas fa-clone"></i></span></a></li>
</div>