
    <style type="text/css">
    /*.round-cta { display: block; height: 70px; width: 70px; border-radius: 50%; text-align: center }*/

    .button5 {
        height: 70px;
        width: 70px;
        border: 2px solid rgba(255, 255, 255, 1);
        text-align: center;

        border-radius: 50%;
    }

    .button5 span {
        font-size: 1.5rem;
    }

    .button5:hover {
        border: 5px solid rgba(49, 49, 40, 1);
        transition: all 0.4s;
    }
    </style>
    <div class=" mb-r" style="">
        <div class="container-fluid flex-center text-center" style="height: 40em">
            <div id="reveal-bottom">
                <div class="reveal-left container-fluid">
                    <!--Section heading-->
                    <div class=" table portfolio-h section-title">
                        <h2 class="upperCase letterSpacingMID "> <span>Get in touch </span></h2>
                        </div>
                    <!-- form -->
                    <!-- <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch"> -->
                        <!-- <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="name">Your Name</label>
                                    <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                    <div class="validate"></div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">Your Email</label>
                                    <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                                    <div class="validate"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="name">Subject</label>
                                <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <label for="name">Message</label>
                                <textarea class="form-control" name="message" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>
                            <div class="mb-3">
                                <div class="loading">Loading</div>
                                <div class="error-message"></div>
                                <div class="sent-message">Your message has been sent. Thank you!</div>
                            </div>
                            <a class="cta upperCase letterSpacingBIG hover relative bottomMargin " href="/contact/ "><span class="target css3Animate "></span><span> Send Message <i class="fas fa-envelop"></i></span></a></li>

                        </form> -->
                        <h1 class="flex-item section-heading h1 text-muted"><strong><span class="vertical-line "></span></strong></h1>

                    <!-- </div> -->
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="form-actions">
                          <!-- <button type="submit">Send</button> -->
                        </div>
                    </form>

                
                    <!-- end  -->

                    

                    <div class="container-fluid bg-1 text-center">
                        <div id="blog">
                            <!-- <h3 class="margin"> BLOG </h3> -->
                            <hr class="border-grey" style="margin:auto;width:20%;color:#000"><br>
                            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                                
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <!-- <button type="submit" class="btn btn-success"> Post</button> -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                    
                    
                    <!-- <div class="flex-item pb-2">
                        <h2 class="text-center pb-3" style="font-size: 1.8rem;font-weight: bold;"><strong>julzmbugua@gmail.com</strong></h2>
                    </div> -->
                    <!-- <ul class="links" style="list-style: none; text-decoration-line: none; display: inline;">
                        <li class="link"><a class="round-cta" href="#"> <span class="fa fa-twitter"></span></a></li>
                        <li class="link"><a class="round-cta" href="#"> <span class="fa fa-twitter"></span></a></li>
                        <li class="link"><a class="round-cta" href="#"> <span class="fa fa-twitter"></span></a></li>
                        <li class="link"><a class="round-cta" href="#"> <span class="fa fa-twitter"></span></a></li>
                        <li class="floatL"><a class="round-cta hover css3Animate" href="" target="_blank"><span class="fa fa-github"></span><span class="css3Animate target"></span></a></li>
                         <li class="link"><a class="round-cta" href="#"> <span class="fa fa-instagram"></a></li> -->
                    <button class="button5" onclick="window.location.href='http://www.twitter.com/tittoix'"><span class="fab fa-twitter"></span></button>
                    <button class="button5" onclick="window.location.href='http://instagram.com'"><span class="fab fa-instagram"></span></button>
                    <button class="button5" onclick="window.location.href='http://github.com'"><span class="fab fa-github"></span></button>
                    <button class="button5" onclick="window.location.href='http://www.linkedin.com'"><span class="fab fa-linkedin"></span></button>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Featured
    ================================================== -->
    <!-- End List Posts
    ================================================== -->
    <!-- Begin Footer
    ================================================== -->
    